@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <header class="my-4">
        <h1 class="text-center">Ласкаво просимо!</h1>
        <h2 class="text-center">Опис 5 лабораторної роботи</h2>
        <h2 class="text-center">Дисципліна: Кросплатформене програмування</h2>
    </header>
    <div>
        <div>
            <b>1. Створення проектів.</b><br />
            <b>2. Розгортання на операційній системі Linux.</b><br />
            <b>3. Інтерфейс веб-додатку.</b><br />
            <b>4. Реєстраційна сторінка.</b><br />
            <b>5. Профіль користувача (Не дозволяє редагування інформації).</b><br />
            <b>6. Авторизація та аутентифікація.</b><br />
        </div><hr />
        <p>
            Виконав: ІПЗ-42 Давиденко Владислав
        </p>
    </div>
</div>